<div class="standard-form">
  <fieldset>
    <legend>Matrix Host Properties</legend>
    <div class="form-group">
      <label>Host Rating</label>
      <div class="form-fields">
        <input type="number" name="system.hostRating" value="{{system.hostRating}}" min="1" step="1" data-dtype="Number">
      </div>
    </div>
    <div class="form-group">
      <label>Type</label>
      <div class="form-fields">
        <select name="system.type">
          <option value="wireless" {{#if (srxEq system.type "wireless")}}selected{{/if}}>Wireless</option>
          <option value="wired" {{#if (srxEq system.type "wired")}}selected{{/if}}>Wired</option>
        </select>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Matrix Attributes</legend>
    <div class="grid grid-4col text-center">
      <div>
        <label>Attack</label>
        <div class="resource-value">{{attributes.attack}}</div>
      </div>
      <div>
        <label>Sleaze</label>
        <div class="resource-value">{{attributes.sleaze}}</div>
      </div>
      <div>
        <label>Data Proc</label>
        <div class="resource-value">{{attributes.dataProcessing}}</div>
      </div>
      <div>
        <label>Firewall</label>
        <div class="resource-value">{{attributes.firewall}}</div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>IC Ladder & Definitions</legend>
    <p class="notes"><em>Host IC logic and advanced management will be implemented in a future update.</em></p>
  </fieldset>
</div>
