<div class="srx catalog-import-body">
  <p class="hint">{{localize "SRX.Import.instructions"}}</p>
  <p class="hint mono">{{localize "SRX.Import.expectedFiles"}}:
    {{#each catalogs}}<code>{{this}}</code>{{#unless @last}}, {{/unless}}{{/each}}
  </p>

  <div class="form-group">
    <button type="button" data-action="pickFiles" {{#if running}}disabled{{/if}}>
      <i class="fa-solid fa-folder-open"></i> {{localize "SRX.Import.pickFiles"}}
    </button>
  </div>

  {{#if files.length}}
  <ul class="file-list">
    {{#each files}}<li><code>{{this}}</code></li>{{/each}}
  </ul>
  {{/if}}

  <div class="form-footer">
    <button type="submit" {{#if running}}disabled{{/if}}>
      {{#if running}}
      <i class="fa-solid fa-spinner fa-spin"></i> {{localize "SRX.Import.running"}}
      {{else}}
      <i class="fa-solid fa-file-import"></i> {{localize "SRX.Import.run"}}
      {{/if}}
    </button>
  </div>

  {{#if summary}}
  <p class="import-summary">
    <i class="fa-solid fa-check"></i>
    {{localize "SRX.Import.summary" created=summary.created skipped=summary.skipped}}
  </p>
  {{/if}}

  {{#if log.length}}
  <div class="import-log">
    <h3>{{localize "SRX.Import.log"}}</h3>
    <ul class="log-lines">
      {{#each log}}
      <li class="log-{{this.level}}">
        <i class="fa-solid {{#if (srxEq this.level 'success')}}fa-check{{else if (srxEq this.level 'error')}}fa-xmark{{else if (srxEq this.level 'warn')}}fa-triangle-exclamation{{else}}fa-circle-info{{/if}}"></i>
        {{this.text}}
      </li>
      {{/each}}
    </ul>
  </div>
  {{/if}}
</div>
